In [1]:
#import libraries
import pandas as pd
import numpy as np
import random as rd
#import visualisation 
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
#modelling algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
#import helpers
from sklearn.preprocessing import Imputer, Normalizer, scale
from sklearn.cross_validation import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import RFECV
# Configure visualisations
%matplotlib inline
mpl.style.use( 'ggplot' )
sns.set_style( 'white' )
pylab.rcParams[ 'figure.figsize' ] = 8 , 6

C:\Users\pc\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
#train = pd.read_csv("C:/Users/MOHAMED/Desktop/Kaggle_competition/train.csv")
train = pd.read_csv("train.csv")
print(train.shape)
train.head(891)

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
test = pd.read_csv("test.csv")
print(test.shape)
test.head()

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
full = train.append(test,ignore_index=True)
titanic = full[:891]
del train, test
print('Dataset:', 'full',full.shape, 'titanic',titanic.shape)
titanic.head()

Dataset: full (1309, 12) titanic (891, 12)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [5]:
pd.set_option('display.max_rows',None)

In [6]:
titanic.head(891)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.00,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.00,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.00,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.00,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.00,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877
6,54.00,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463
7,2.00,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909
8,27.00,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742
9,14.00,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736
10,4.00,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549
11,58.00,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783
12,20.00,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151
13,39.00,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082
14,14.00,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406
15,55.00,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706
16,2.00,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373
18,31.00,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649
20,35.00,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865
21,34.00,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698
22,15.00,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923
23,28.00,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788
24,8.00,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909
25,38.00,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631
27,19.00,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216
30,40.00,NaN,C,27.7208,"Uruchurtu, Don. Manuel E",0,31,1,male,0,0.0,PC 17601
31,NaN,B78,C,146.5208,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,32,1,female,1,1.0,PC 17569
32,NaN,NaN,Q,7.7500,"Glynn, Miss. Mary Agatha",0,33,3,female,0,1.0,335677
33,66.00,NaN,S,10.5000,"Wheadon, Mr. Edward H",0,34,2,male,0,0.0,C.A. 24579
34,28.00,NaN,C,82.1708,"Meyer, Mr. Edgar Joseph",0,35,1,male,1,0.0,PC 17604
35,42.00,NaN,S,52.0000,"Holverson, Mr. Alexander Oskar",0,36,1,male,1,0.0,113789
36,NaN,NaN,C,7.2292,"Mamee, Mr. Hanna",0,37,3,male,0,1.0,2677
37,21.00,NaN,S,8.0500,"Cann, Mr. Ernest Charles",0,38,3,male,0,0.0,A./5. 2152
38,18.00,NaN,S,18.0000,"Vander Planke, Miss. Augusta Maria",0,39,3,female,2,0.0,345764
39,14.00,NaN,C,11.2417,"Nicola-Yarred, Miss. Jamila",0,40,3,female,1,1.0,2651
40,40.00,NaN,S,9.4750,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",0,41,3,female,1,0.0,7546
41,27.00,NaN,S,21.0000,"Turpin, Mrs. William John Robert (Dorothy Ann ...",0,42,2,female,1,0.0,11668
42,NaN,NaN,C,7.8958,"Kraeff, Mr. Theodor",0,43,3,male,0,0.0,349253
43,3.00,NaN,C,41.5792,"Laroche, Miss. Simonne Marie Anne Andree",2,44,2,female,1,1.0,SC/Paris 2123
44,19.00,NaN,Q,7.8792,"Devaney, Miss. Margaret Delia",0,45,3,female,0,1.0,330958
45,NaN,NaN,S,8.0500,"Rogers, Mr. William John",0,46,3,male,0,0.0,S.C./A.4. 23567
46,NaN,NaN,Q,15.5000,"Lennon, Mr. Denis",0,47,3,male,1,0.0,370371
47,NaN,NaN,Q,7.7500,"O'Driscoll, Miss. Bridget",0,48,3,female,0,1.0,14311
48,NaN,NaN,C,21.6792,"Samaan, Mr. Youssef",0,49,3,male,2,0.0,2662
49,18.00,NaN,S,17.8000,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",0,50,3,female,1,0.0,349237
50,7.00,NaN,S,39.6875,"Panula, Master. Juha Niilo",1,51,3,male,4,0.0,3101295
51,21.00,NaN,S,7.8000,"Nosworthy, Mr. Richard Cater",0,52,3,male,0,0.0,A/4. 39886
52,49.00,D33,C,76.7292,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",0,53,1,female,1,1.0,PC 17572
53,29.00,NaN,S,26.0000,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",0,54,2,female,1,1.0,2926
54,65.00,B30,C,61.9792,"Ostby, Mr. Engelhart Cornelius",1,55,1,male,0,0.0,113509
55,NaN,C52,S,35.5000,"Woolner, Mr. Hugh",0,56,1,male,0,1.0,19947
56,21.00,NaN,S,10.5000,"Rugg, Miss. Emily",0,57,2,female,0,1.0,C.A. 31026
57,28.50,NaN,C,7.2292,"Novel, Mr. Mansouer",0,58,3,male,0,0.0,2697
58,5.00,NaN,S,27.7500,"West, Miss. Constance Mirium",2,59,2,female,1,1.0,C.A. 34651
59,11.00,NaN,S,46.9000,"Goodwin, Master. William Frederick",2,60,3,male,5,0.0,CA 2144
60,22.00,NaN,C,7.2292,"Sirayanian, Mr. Orsen",0,61,3,male,0,0.0,2669
61,38.00,B28,NaN,80.0000,"Icard, Miss. Amelie",0,62,1,female,0,1.0,113572
62,45.00,C83,S,83.4750,"Harris, Mr. Henry Birkhardt",0,63,1,male,1,0.0,36973
63,4.00,NaN,S,27.9000,"Skoog, Master. Harald",2,64,3,male,3,0.0,347088
64,NaN,NaN,C,27.7208,"Stewart, Mr. Albert A",0,65,1,male,0,0.0,PC 17605
65,NaN,NaN,C,15.2458,"Moubarek, Master. Gerios",1,66,3,male,1,1.0,2661
66,29.00,F33,S,10.5000,"Nye, Mrs. (Elizabeth Ramell)",0,67,2,female,0,1.0,C.A. 29395
67,19.00,NaN,S,8.1583,"Crease, Mr. Ernest James",0,68,3,male,0,0.0,S.P. 3464
68,17.00,NaN,S,7.9250,"Andersson, Miss. Erna Alexandra",2,69,3,female,4,1.0,3101281
69,26.00,NaN,S,8.6625,"Kink, Mr. Vincenz",0,70,3,male,2,0.0,315151
70,32.00,NaN,S,10.5000,"Jenkin, Mr. Stephen Curnow",0,71,2,male,0,0.0,C.A. 33111
71,16.00,NaN,S,46.9000,"Goodwin, Miss. Lillian Amy",2,72,3,female,5,0.0,CA 2144
72,21.00,NaN,S,73.5000,"Hood, Mr. Ambrose Jr",0,73,2,male,0,0.0,S.O.C. 14879
73,26.00,NaN,C,14.4542,"Chronopoulos, Mr. Apostolos",0,74,3,male,1,0.0,2680
74,32.00,NaN,S,56.4958,"Bing, Mr. Lee",0,75,3,male,0,1.0,1601
75,25.00,F G73,S,7.6500,"Moen, Mr. Sigurd Hansen",0,76,3,male,0,0.0,348123
76,NaN,NaN,S,7.8958,"Staneff, Mr. Ivan",0,77,3,male,0,0.0,349208
77,NaN,NaN,S,8.0500,"Moutal, Mr. Rahamin Haim",0,78,3,male,0,0.0,374746
78,0.83,NaN,S,29.0000,"Caldwell, Master. Alden Gates",2,79,2,male,0,1.0,248738
79,30.00,NaN,S,12.4750,"Dowdell, Miss. Elizabeth",0,80,3,female,0,1.0,364516
80,22.00,NaN,S,9.0000,"Waelens, Mr. Achille",0,81,3,male,0,0.0,345767
81,29.00,NaN,S,9.5000,"Sheerlinck, Mr. Jan Baptist",0,82,3,male,0,1.0,345779
82,NaN,NaN,Q,7.7875,"McDermott, Miss. Brigdet Delia",0,83,3,female,0,1.0,330932
83,28.00,NaN,S,47.1000,"Carrau, Mr. Francisco M",0,84,1,male,0,0.0,113059
84,17.00,NaN,S,10.5000,"Ilett, Miss. Bertha",0,85,2,female,0,1.0,SO/C 14885
85,33.00,NaN,S,15.8500,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",0,86,3,female,3,1.0,3101278
86,16.00,NaN,S,34.3750,"Ford, Mr. William Neal",3,87,3,male,1,0.0,W./C. 6608
87,NaN,NaN,S,8.0500,"Slocovski, Mr. Selman Francis",0,88,3,male,0,0.0,SOTON/OQ 392086
88,23.00,C23 C25 C27,S,263.0000,"Fortune, Miss. Mabel Helen",2,89,1,female,3,1.0,19950
89,24.00,NaN,S,8.0500,"Celotti, Mr. Francesco",0,90,3,male,0,0.0,343275
90,29.00,NaN,S,8.0500,"Christmann, Mr. Emil",0,91,3,male,0,0.0,343276
91,20.00,NaN,S,7.8542,"Andreasson, Mr. Paul Edvin",0,92,3,male,0,0.0,347466
92,46.00,E31,S,61.1750,"Chaffee, Mr. Herbert Fuller",0,93,1,male,1,0.0,W.E.P. 5734
93,26.00,NaN,S,20.5750,"Dean, Mr. Bertram Frank",2,94,3,male,1,0.0,C.A. 2315
94,59.00,NaN,S,7.2500,"Coxon, Mr. Daniel",0,95,3,male,0,0.0,364500
95,NaN,NaN,S,8.0500,"Shorney, Mr. Charles Joseph",0,96,3,male,0,0.0,374910
96,71.00,A5,C,34.6542,"Goldschmidt, Mr. George B",0,97,1,male,0,0.0,PC 17754
97,23.00,D10 D12,C,63.3583,"Greenfield, Mr. William Bertram",1,98,1,male,0,1.0,PC 17759
98,34.00,NaN,S,23.0000,"Doling, Mrs. John T (Ada Julia Bone)",1,99,2,female,0,1.0,231919
99,34.00,NaN,S,26.0000,"Kantor, Mr. Sinai",0,100,2,male,1,0.0,244367
100,28.00,NaN,S,7.8958,"Petranec, Miss. Matilda",0,101,3,female,0,0.0,349245
101,NaN,NaN,S,7.8958,"Petroff, Mr. Pastcho (""Pentcho"")",0,102,3,male,0,0.0,349215
102,21.00,D26,S,77.2875,"White, Mr. Richard Frasar",1,103,1,male,0,0.0,35281
103,33.00,NaN,S,8.6542,"Johansson, Mr. Gustaf Joel",0,104,3,male,0,0.0,7540
104,37.00,NaN,S,7.9250,"Gustafsson, Mr. Anders Vilhelm",0,105,3,male,2,0.0,3101276
105,28.00,NaN,S,7.8958,"Mionoff, Mr. Stoytcho",0,106,3,male,0,0.0,349207
106,21.00,NaN,S,7.6500,"Salkjelsvik, Miss. Anna Kristine",0,107,3,female,0,1.0,343120
107,NaN,NaN,S,7.7750,"Moss, Mr. Albert Johan",0,108,3,male,0,1.0,312991
108,38.00,NaN,S,7.8958,"Rekic, Mr. Tido",0,109,3,male,0,0.0,349249
109,NaN,NaN,Q,24.1500,"Moran, Miss. Bertha",0,110,3,female,1,1.0,371110
110,47.00,C110,S,52.0000,"Porter, Mr. Walter Chamberlain",0,111,1,male,0,0.0,110465
111,14.50,NaN,C,14.4542,"Zabour, Miss. Hileni",0,112,3,female,1,0.0,2665
112,22.00,NaN,S,8.0500,"Barton, Mr. David John",0,113,3,male,0,0.0,324669
113,20.00,NaN,S,9.8250,"Jussila, Miss. Katriina",0,114,3,female,1,0.0,4136
114,17.00,NaN,C,14.4583,"Attalah, Miss. Malake",0,115,3,female,0,0.0,2627
115,21.00,NaN,S,7.9250,"Pekoniemi, Mr. Edvard",0,116,3,male,0,0.0,STON/O 2. 3101294
116,70.50,NaN,Q,7.7500,"Connors, Mr. Patrick",0,117,3,male,0,0.0,370369
117,29.00,NaN,S,21.0000,"Turpin, Mr. William John Robert",0,118,2,male,1,0.0,11668
118,24.00,B58 B60,C,247.5208,"Baxter, Mr. Quigg Edmond",1,119,1,male,0,0.0,PC 17558
119,2.00,NaN,S,31.2750,"Andersson, Miss. Ellis Anna Maria",2,120,3,female,4,0.0,347082
120,21.00,NaN,S,73.5000,"Hickman, Mr. Stanley George",0,121,2,male,2,0.0,S.O.C. 14879
121,NaN,NaN,S,8.0500,"Moore, Mr. Leonard Charles",0,122,3,male,0,0.0,A4. 54510
122,32.50,NaN,C,30.0708,"Nasser, Mr. Nicholas",0,123,2,male,1,0.0,237736
123,32.50,E101,S,13.0000,"Webber, Miss. Susan",0,124,2,female,0,1.0,27267
124,54.00,D26,S,77.2875,"White, Mr. Percival Wayland",1,125,1,male,0,0.0,35281
125,12.00,NaN,C,11.2417,"Nicola-Yarred, Master. Elias",0,126,3,male,1,1.0,2651
126,NaN,NaN,Q,7.7500,"McMahon, Mr. Martin",0,127,3,male,0,0.0,370372
127,24.00,NaN,S,7.1417,"Madsen, Mr. Fridtjof Arne",0,128,3,male,0,1.0,C 17369
128,NaN,F E69,C,22.3583,"Peter, Miss. Anna",1,129,3,female,1,1.0,2668
129,45.00,NaN,S,6.9750,"Ekstrom, Mr. Johan",0,130,3,male,0,0.0,347061
130,33.00,NaN,C,7.8958,"Drazenoic, Mr. Jozef",0,131,3,male,0,0.0,349241
131,20.00,NaN,S,7.0500,"Coelho, Mr. Domingos Fernandeo",0,132,3,male,0,0.0,SOTON/O.Q. 3101307
132,47.00,NaN,S,14.5000,"Robins, Mrs. Alexander A (Grace Charity Laury)",0,133,3,female,1,0.0,A/5. 3337
133,29.00,NaN,S,26.0000,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",0,134,2,female,1,1.0,228414
134,25.00,NaN,S,13.0000,"Sobey, Mr. Samuel James Hayden",0,135,2,male,0,0.0,C.A. 29178
135,23.00,NaN,C,15.0458,"Richard, Mr. Emile",0,136,2,male,0,0.0,SC/PARIS 2133
136,19.00,D47,S,26.2833,"Newsom, Miss. Helen Monypeny",2,137,1,female,0,1.0,11752
137,37.00,C123,S,53.1000,"Futrelle, Mr. Jacques Heath",0,138,1,male,1,0.0,113803
138,16.00,NaN,S,9.2167,"Osen, Mr. Olaf Elon",0,139,3,male,0,0.0,7534
139,24.00,B86,C,79.2000,"Giglio, Mr. Victor",0,140,1,male,0,0.0,PC 17593
140,NaN,NaN,C,15.2458,"Boulos, Mrs. Joseph (Sultana)",2,141,3,female,0,0.0,2678
141,22.00,NaN,S,7.7500,"Nysten, Miss. Anna Sofia",0,142,3,female,0,1.0,347081
142,24.00,NaN,S,15.8500,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",0,143,3,female,1,1.0,STON/O2. 3101279
143,19.00,NaN,Q,6.7500,"Burke, Mr. Jeremiah",0,144,3,male,0,0.0,365222
144,18.00,NaN,S,11.5000,"Andrew, Mr. Edgardo Samuel",0,145,2,male,0,0.0,231945
145,19.00,NaN,S,36.7500,"Nicholls, Mr. Joseph Charles",1,146,2,male,1,0.0,C.A. 33112
146,27.00,NaN,S,7.7958,"Andersson, Mr. August Edvard (""Wennerstrom"")",0,147,3,male,0,1.0,350043
147,9.00,NaN,S,34.3750,"Ford, Miss. Robina Maggie ""Ruby""",2,148,3,female,2,0.0,W./C. 6608
148,36.50,F2,S,26.0000,"Navratil, Mr. Michel (""Louis M Hoffman"")",2,149,2,male,0,0.0,230080
149,42.00,NaN,S,13.0000,"Byles, Rev. Thomas Roussel Davids",0,150,2,male,0,0.0,244310
150,51.00,NaN,S,12.5250,"Bateman, Rev. Robert James",0,151,2,male,0,0.0,S.O.P. 1166
151,22.00,C2,S,66.6000,"Pears, Mrs. Thomas (Edith Wearne)",0,152,1,female,1,1.0,113776
152,55.50,NaN,S,8.0500,"Meo, Mr. Alfonzo",0,153,3,male,0,0.0,A.5. 11206
153,40.50,NaN,S,14.5000,"van Billiard, Mr. Austin Blyler",2,154,3,male,0,0.0,A/5. 851
154,NaN,NaN,S,7.3125,"Olsen, Mr. Ole Martin",0,155,3,male,0,0.0,Fa 265302
155,51.00,NaN,C,61.3792,"Williams, Mr. Charles Duane",1,156,1,male,0,0.0,PC 17597
156,16.00,NaN,Q,7.7333,"Gilnagh, Miss. Katherine ""Katie""",0,157,3,female,0,1.0,35851
157,30.00,NaN,S,8.0500,"Corn, Mr. Harry",0,158,3,male,0,0.0,SOTON/OQ 392090
158,NaN,NaN,S,8.6625,"Smiljanic, Mr. Mile",0,159,3,male,0,0.0,315037
159,NaN,NaN,S,69.5500,"Sage, Master. Thomas Henry",2,160,3,male,8,0.0,CA. 2343
160,44.00,NaN,S,16.1000,"Cribb, Mr. John Hatfield",1,161,3,male,0,0.0,371362
161,40.00,NaN,S,15.7500,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",0,162,2,female,0,1.0,C.A. 33595
162,26.00,NaN,S,7.7750,"Bengtsson, Mr. John Viktor",0,163,3,male,0,0.0,347068
163,17.00,NaN,S,8.6625,"Calic, Mr. Jovo",0,164,3,male,0,0.0,315093
164,1.00,NaN,S,39.6875,"Panula, Master. Eino Viljami",1,165,3,male,4,0.0,3101295
165,9.00,NaN,S,20.5250,"Goldsmith, Master. Frank John William ""Frankie""",2,166,3,male,0,1.0,363291
166,NaN,E33,S,55.0000,"Chibnall, Mrs. (Edith Martha Bowerman)",1,167,1,female,0,1.0,113505
167,45.00,NaN,S,27.9000,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",4,168,3,female,1,0.0,347088
168,NaN,NaN,S,25.9250,"Baumann, Mr. John D",0,169,1,male,0,0.0,PC 17318
169,28.00,NaN,S,56.4958,"Ling, Mr. Lee",0,170,3,male,0,0.0,1601
170,61.00,B19,S,33.5000,"Van der hoef, Mr. Wyckoff",0,171,1,male,0,0.0,111240
171,4.00,NaN,Q,29.1250,"Rice, Master. Arthur",1,172,3,male,4,0.0,382652
172,1.00,NaN,S,11.1333,"Johnson, Miss. Eleanor Ileen",1,173,3,female,1,1.0,347742
173,21.00,NaN,S,7.9250,"Sivola, Mr. Antti Wilhelm",0,174,3,male,0,0.0,STON/O 2. 3101280
174,56.00,A7,C,30.6958,"Smith, Mr. James Clinch",0,175,1,male,0,0.0,17764
175,18.00,NaN,S,7.8542,"Klasen, Mr. Klas Albin",1,176,3,male,1,0.0,350404
176,NaN,NaN,S,25.4667,"Lefebre, Master. Henry Forbes",1,177,3,male,3,0.0,4133
177,50.00,C49,C,28.7125,"Isham, Miss. Ann Elizabeth",0,178,1,female,0,0.0,PC 17595
178,30.00,NaN,S,13.0000,"Hale, Mr. Reginald",0,179,2,male,0,0.0,250653
179,36.00,NaN,S,0.0000,"Leonard, Mr. Lionel",0,180,3,male,0,0.0,LINE
180,NaN,NaN,S,69.5500,"Sage, Miss. Constance Gladys",2,181,3,female,8,0.0,CA. 2343
181,NaN,NaN,C,15.0500,"Pernot, Mr. Rene",0,182,2,male,0,0.0,SC/PARIS 2131
182,9.00,NaN,S,31.3875,"Asplund, Master. Clarence Gustaf Hugo",2,183,3,male,4,0.0,347077
183,1.00,F4,S,39.0000,"Becker, Master. Richard F",1,184,2,male,2,1.0,230136
184,4.00,NaN,S,22.0250,"Kink-Heilmann, Miss. Luise Gretchen",2,185,3,female,0,1.0,315153
185,NaN,A32,S,50.0000,"Rood, Mr. Hugh Roscoe",0,186,1,male,0,0.0,113767
186,NaN,NaN,Q,15.5000,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",0,187,3,female,1,1.0,370365
187,45.00,NaN,S,26.5500,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",0,188,1,male,0,1.0,111428
188,40.00,NaN,Q,15.5000,"Bourke, Mr. John",1,189,3,male,1,0.0,364849
189,36.00,NaN,S,7.8958,"Turcin, Mr. Stjepan",0,190,3,male,0,0.0,349247
190,32.00,NaN,S,13.0000,"Pinsky, Mrs. (Rosa)",0,191,2,female,0,1.0,234604
191,19.00,NaN,S,13.0000,"Carbines, Mr. William",0,192,2,male,0,0.0,28424
192,19.00,NaN,S,7.8542,"Andersen-Jensen, Miss. Carla Christine Nielsine",0,193,3,female,1,1.0,350046
193,3.00,F2,S,26.0000,"Navratil, Master. Michel M",1,194,2,male,1,1.0,230080
194,44.00,B4,C,27.7208,"Brown, Mrs. James Joseph (Margaret Tobin)",0,195,1,female,0,1.0,PC 17610
195,58.00,B80,C,146.5208,"Lurette, Miss. Elise",0,196,1,female,0,1.0,PC 17569
196,NaN,NaN,Q,7.7500,"Mernagh, Mr. Robert",0,197,3,male,0,0.0,368703
197,42.00,NaN,S,8.4042,"Olsen, Mr. Karl Siegwart Andreas",1,198,3,male,0,0.0,4579
198,NaN,NaN,Q,7.7500,"Madigan, Miss. Margaret ""Maggie""",0,199,3,female,0,1.0,370370
199,24.00,NaN,S,13.0000,"Yrois, Miss. Henriette (""Mrs Harbeck"")",0,200,2,female,0,0.0,248747
200,28.00,NaN,S,9.5000,"Vande Walle, Mr. Nestor Cyriel",0,201,3,male,0,0.0,345770
201,NaN,NaN,S,69.5500,"Sage, Mr. Frederick",2,202,3,male,8,0.0,CA. 2343
202,34.00,NaN,S,6.4958,"Johanson, Mr. Jakob Alfred",0,203,3,male,0,0.0,3101264
203,45.50,NaN,C,7.2250,"Youseff, Mr. Gerious",0,204,3,male,0,0.0,2628
204,18.00,NaN,S,8.0500,"Cohen, Mr. Gurshon ""Gus""",0,205,3,male,0,1.0,A/5 3540
205,2.00,G6,S,10.4625,"Strom, Miss. Telma Matilda",1,206,3,female,0,0.0,347054
206,32.00,NaN,S,15.8500,"Backstrom, Mr. Karl Alfred",0,207,3,male,1,0.0,3101278
207,26.00,NaN,C,18.7875,"Albimona, Mr. Nassef Cassem",0,208,3,male,0,1.0,2699
208,16.00,NaN,Q,7.7500,"Carr, Miss. Helen ""Ellen""",0,209,3,female,0,1.0,367231
209,40.00,A31,C,31.0000,"Blank, Mr. Henry",0,210,1,male,0,1.0,112277
210,24.00,NaN,S,7.0500,"Ali, Mr. Ahmed",0,211,3,male,0,0.0,SOTON/O.Q. 3101311
211,35.00,NaN,S,21.0000,"Cameron, Miss. Clear Annie",0,212,2,female,0,1.0,F.C.C. 13528
212,22.00,NaN,S,7.2500,"Perkin, Mr. John Henry",0,213,3,male,0,0.0,A/5 21174
213,30.00,NaN,S,13.0000,"Givard, Mr. Hans Kristensen",0,214,2,male,0,0.0,250646
214,NaN,NaN,Q,7.7500,"Kiernan, Mr. Philip",0,215,3,male,1,0.0,367229
215,31.00,D36,C,113.2750,"Newell, Miss. Madeleine",0,216,1,female,1,1.0,35273
216,27.00,NaN,S,7.9250,"Honkanen, Miss. Eliina",0,217,3,female,0,1.0,STON/O2. 3101283
217,42.00,NaN,S,27.0000,"Jacobsohn, Mr. Sidney Samuel",0,218,2,male,1,0.0,243847
218,32.00,D15,C,76.2917,"Bazzani, Miss. Albina",0,219,1,female,0,1.0,11813
219,30.00,NaN,S,10.5000,"Harris, Mr. Walter",0,220,2,male,0,0.0,W/C 14208
220,16.00,NaN,S,8.0500,"Sunderland, Mr. Victor Francis",0,221,3,male,0,1.0,SOTON/OQ 392089
221,27.00,NaN,S,13.0000,"Bracken, Mr. James H",0,222,2,male,0,0.0,220367
222,51.00,NaN,S,8.0500,"Green, Mr. George Henry",0,223,3,male,0,0.0,21440
223,NaN,NaN,S,7.8958,"Nenkoff, Mr. Christo",0,224,3,male,0,0.0,349234
224,38.00,C93,S,90.0000,"Hoyt, Mr. Frederick Maxfield",0,225,1,male,1,1.0,19943
225,22.00,NaN,S,9.3500,"Berglund, Mr. Karl Ivar Sven",0,226,3,male,0,0.0,PP 4348
226,19.00,NaN,S,10.5000,"Mellors, Mr. William John",0,227,2,male,0,1.0,SW/PP 751
227,20.50,NaN,S,7.2500,"Lovell, Mr. John Hall (""Henry"")",0,228,3,male,0,0.0,A/5 21173
228,18.00,NaN,S,13.0000,"Fahlstrom, Mr. Arne Jonas",0,229,2,male,0,0.0,236171
229,NaN,NaN,S,25.4667,"Lefebre, Miss. Mathilde",1,230,3,female,3,0.0,4133
230,35.00,C83,S,83.4750,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",0,231,1,female,1,1.0,36973
231,29.00,NaN,S,7.7750,"Larsson, Mr. Bengt Edvin",0,232,3,male,0,0.0,347067
232,59.00,NaN,S,13.5000,"Sjostedt, Mr. Ernst Adolf",0,233,2,male,0,0.0,237442
233,5.00,NaN,S,31.3875,"Asplund, Miss. Lillian Gertrud",2,234,3,female,4,1.0,347077
234,24.00,NaN,S,10.5000,"Leyson, Mr. Robert William Norman",0,235,2,male,0,0.0,C.A. 29566
235,NaN,NaN,S,7.5500,"Harknett, Miss. Alice Phoebe",0,236,3,female,0,0.0,W./C. 6609
236,44.00,NaN,S,26.0000,"Hold, Mr. Stephen",0,237,2,male,1,0.0,26707
237,8.00,NaN,S,26.2500,"Collyer, Miss. Marjorie ""Lottie""",2,238,2,female,0,1.0,C.A. 31921
238,19.00,NaN,S,10.5000,"Pengelly, Mr. Frederick William",0,239,2,male,0,0.0,28665
239,33.00,NaN,S,12.2750,"Hunt, Mr. George Henry",0,240,2,male,0,0.0,SCO/W 1585
240,NaN,NaN,C,14.4542,"Zabour, Miss. Thamine",0,241,3,female,1,0.0,2665
241,NaN,NaN,Q,15.5000,"Murphy, Miss. Katherine ""Kate""",0,242,3,female,1,1.0,367230
242,29.00,NaN,S,10.5000,"Coleridge, Mr. Reginald Charles",0,243,2,male,0,0.0,W./C. 14263
243,22.00,NaN,S,7.1250,"Maenpaa, Mr. Matti Alexanteri",0,244,3,male,0,0.0,STON/O 2. 3101275
244,30.00,NaN,C,7.2250,"Attalah, Mr. Sleiman",0,245,3,male,0,0.0,2694
245,44.00,C78,Q,90.0000,"Minahan, Dr. William Edward",0,246,1,male,2,0.0,19928
246,25.00,NaN,S,7.7750,"Lindahl, Miss. Agda Thorilda Viktoria",0,247,3,female,0,0.0,347071
247,24.00,NaN,S,14.5000,"Hamalainen, Mrs. William (Anna)",2,248,2,female,0,1.0,250649

In [7]:
titanic.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
count,714.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,29.699118,32.204208,0.381594,446.000000,2.308642,0.523008,0.383838
std,14.526497,49.693429,0.806057,257.353842,0.836071,1.102743,0.486592
min,0.420000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,20.125000,7.910400,0.000000,223.500000,2.000000,0.000000,0.000000
50%,28.000000,14.454200,0.000000,446.000000,3.000000,0.000000,0.000000
75%,38.000000,31.000000,0.000000,668.500000,3.000000,1.000000,1.000000
max,80.000000,512.329200,6.000000,891.000000,3.000000,8.000000,1.000000

In [8]:
full.shape

(1309, 12)

In [9]:
sex = full.Sex.map({'male':0,'female':1})
sex.value_counts()

0    843
1    466
Name: Sex, dtype: int64

In [10]:
embarked = pd.get_dummies(full.Embarked,prefix='Embarked')
embarked.head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [11]:
pclass = pd.get_dummies(full.Pclass,prefix='Pclass')
pclass.head()

   Pclass_1  Pclass_2  Pclass_3
0         0         0         1
1         1         0         0
2         0         0         1
3         1         0         0
4         0         0         1

In [12]:
imputed = pd.DataFrame()

In [13]:
imputed['Age'] = titanic.Age.fillna(full.Age.mean())
imputed['Fare'] = titanic.Fare.fillna(full.Fare.mean())

In [14]:
imputed.head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [15]:
title = pd.DataFrame()
title['Title'] = full.Name.map(lambda name : name.split(',')[1].split('.')[0].strip())
title.head()

  Title
0    Mr
1   Mrs
2  Miss
3   Mrs
4    Mr

In [16]:
title = pd.DataFrame()
title['Title'] = full.Name.map(lambda name : name.split(',')[1].split('.')[0].strip())
title.head()
Title_dictionnary = {
                    "Capt":       "Officer",
                    "Col":        "Officer",
                    "Major":      "Officer",
                    "Jonkheer":   "Royalty",
                    "Don":        "Royalty",
                    "Sir" :       "Royalty",
                    "Dr":         "Officer",
                    "Rev":        "Officer",
                    "the Countess":"Royalty",
                    "Dona":       "Royalty",
                    "Mme":        "Mrs",
                    "Mlle":       "Miss",
                    "Ms":         "Mrs",
                    "Mr" :        "Mr",
                    "Mrs" :       "Mrs",
                    "Miss" :      "Miss",
                    "Master" :    "Master",
                    "Lady" :      "Royalty"
    
}
title['Title'] = title.Title.map(Title_dictionnary)
title = pd.get_dummies(title.Title)
title.head()

   Master  Miss  Mr  Mrs  Officer  Royalty
0       0     0   1    0        0        0
1       0     0   0    1        0        0
2       0     1   0    0        0        0
3       0     0   0    1        0        0
4       0     0   1    0        0        0

In [17]:
full.Cabin.value_counts().sum()

295

In [18]:
full.groupby('Sex').mean()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
Sex,,,,,,,
female,28.687088,46.198097,0.633047,648.186695,2.154506,0.652361,0.742038
male,30.585228,26.154601,0.247924,658.766311,2.372479,0.413998,0.188908

In [19]:
full.Cabin.isnull().sum()

1014

In [20]:
cabin = pd.DataFrame()
cabin['Cabin'] = full.Cabin.fillna('U')
cabin['Cabin'] = cabin['Cabin'].map(lambda c : c[0])
cabin = pd.get_dummies(cabin.Cabin,prefix='Cabin')
cabin.head()

,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U
0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1

In [21]:
def clean_ticket(ticket):
    ticket = ticket.replace('/','')
    ticket = ticket.replace('.','')
    ticket = ticket.split()
    ticket = map(lambda t:t.strip(),ticket)
    ticket = list(filter(lambda t: not t.isdigit() ,ticket))
    if len(ticket)>0:
        return ticket[0]
    else:
        return 'xxx'
ticket = pd.DataFrame()
ticket['Ticket'] = full.Ticket
print(ticket)
ticket['Ticket'] = ticket.Ticket.apply(clean_ticket)
print(ticket)
ticket = pd.get_dummies(ticket.Ticket,prefix='Ticket')
ticket.head(10)

                  Ticket
0              A/5 21171
1               PC 17599
2       STON/O2. 3101282
3                 113803
4                 373450
5                 330877
6                  17463
7                 349909
8                 347742
9                 237736
10               PP 9549
11                113783
12             A/5. 2151
13                347082
14                350406
15                248706
16                382652
17                244373
18                345763
19                  2649
20                239865
21                248698
22                330923
23                113788
24                349909
25                347077
26                  2631
27                 19950
28                330959
29                349216
30              PC 17601
31              PC 17569
32                335677
33            C.A. 24579
34              PC 17604
35                113789
36                  2677
37            A./5. 2152
38                345764
39                  2651
40                  7546
41                 11668
42                349253
43         SC/Paris 2123
44                330958
45       S.C./A.4. 23567
46                370371
47                 14311
48                  2662
49                349237
50               3101295
51            A/4. 39886
52              PC 17572
53                  2926
54                113509
55                 19947
56            C.A. 31026
57                  2697
58            C.A. 34651
59               CA 2144
60                  2669
61                113572
62                 36973
63                347088
64              PC 17605
65                  2661
66            C.A. 29395
67             S.P. 3464
68               3101281
69                315151
70            C.A. 33111
71               CA 2144
72          S.O.C. 14879
73                  2680
74                  1601
75                348123
76                349208
77                374746
78                248738
79                364516
80                345767
81                345779
82                330932
83                113059
84            SO/C 14885
85               3101278
86            W./C. 6608
87       SOTON/OQ 392086
88                 19950
89                343275
90                343276
91                347466
92           W.E.P. 5734
93             C.A. 2315
94                364500
95                374910
96              PC 17754
97              PC 17759
98                231919
99                244367
100               349245
101               349215
102                35281
103                 7540
104              3101276
105               349207
106               343120
107               312991
108               349249
109               371110
110               110465
111                 2665
112               324669
113                 4136
114                 2627
115    STON/O 2. 3101294
116               370369
117                11668
118             PC 17558
119               347082
120         S.O.C. 14879
121            A4. 54510
122               237736
123                27267
124                35281
125                 2651
126               370372
127              C 17369
128                 2668
129               347061
130               349241
131   SOTON/O.Q. 3101307
132            A/5. 3337
133               228414
134           C.A. 29178
135        SC/PARIS 2133
136                11752
137               113803
138                 7534
139             PC 17593
140                 2678
141               347081
142     STON/O2. 3101279
143               365222
144               231945
145           C.A. 33112
146               350043
147           W./C. 6608
148               230080
149               244310
150          S.O.P. 1166
151               113776
152           A.5. 11206
153             A/5. 851
154            Fa 265302
155             PC 17597
156                35851
157      SOTON/OQ 392090
158               315037
159             CA. 2343
160               371362
161           C.A. 33595
162               347068
163               315093
164              3101295
165               363291
166               113505
167               347088
168             PC 17318
169                 1601
170               111240
171               382652
172               347742
173    STON/O 2. 3101280
174                17764
175               350404
176                 4133
177             PC 17595
178               250653
179                 LINE
180             CA. 2343
181        SC/PARIS 2131
182               347077
183               230136
184               315153
185               113767
186               370365
187               111428
188               364849
189               349247
190               234604
191                28424
192               350046
193               230080
194             PC 17610
195             PC 17569
196               368703
197                 4579
198               370370
199               248747
200               345770
201             CA. 2343
202              3101264
203                 2628
204             A/5 3540
205               347054
206              3101278
207                 2699
208               367231
209               112277
210   SOTON/O.Q. 3101311
211         F.C.C. 13528
212            A/5 21174
213               250646
214               367229
215                35273
216     STON/O2. 3101283
217               243847
218                11813
219            W/C 14208
220      SOTON/OQ 392089
221               220367
222                21440
223               349234
224                19943
225              PP 4348
226            SW/PP 751
227            A/5 21173
228               236171
229                 4133
230                36973
231               347067
232               237442
233               347077
234           C.A. 29566
235           W./C. 6609
236                26707
237           C.A. 31921
238                28665
239           SCO/W 1585
240                 2665
241               367230
242          W./C. 14263
243    STON/O 2. 3101275
244                 2694
245                19928
246               347071
247               250649
248                11751
249               244252
250               362316
251               347054
252               113514
253            A/5. 3336
254               370129
255                 2650
256             PC 17585
257               110152
258             PC 17755
259               230433
260               384461
261               347077
262               110413
263               112059
264               382649
265           C.A. 17248
266              3101295
267               347083
268             PC 17582
269             PC 17760
270               113798
271                 LINE
272               250644
273             PC 17596
274               370375
275                13502
276               347073
277               239853
278               382652
279            C.A. 2673
280               336439
281               347464
282               345778
283           A/5. 10482
284               113056
285               349239
286               345774
287               349206
288               237798
289               370373
290                19877
291                11967
292        SC/Paris 2163
293               349236
294               349233
295             PC 17612
296                 2693
297               113781
298                19988
299             PC 17558
300                 9234
301               367226
302                 LINE
303               226593
304             A/5 2466
305               113781
306                17421
307             PC 17758
308            P/PP 3381
309             PC 17485
310                11767
311             PC 17608
312               250651
313               349243
314         F.C.C. 13529
315               347470
316               244367
317                29011
318                36928
319                16966
320            A/5 21172
321               349219
322               234818
323               248738
324             CA. 2343
325             PC 17760
326               345364
327                28551
328               363291
329               111361
330               367226
331               113043
332             PC 17582
333               345764
334             PC 17611
335               349225
336               113776
337                16966
338                 7598
339               113784
340               230080
341                19950
342               248740
343               244361
344               229236
345               248733
346                31418
347               386525
348           C.A. 37671
349               315088
350                 7267
351               113510
352                 2695
353               349237
354                 2647
355               345783
356               113505
357               237671
358               330931
359               330980
360               347088
361        SC/PARIS 2167
362                 2691
363   SOTON/O.Q. 3101310
364               370365
365               C 7076
366               110813
367                 2626
368                14313
369             PC 17477
370                11765
371              3101267
372               323951
373             PC 17760
374               349909
375             PC 17604
376               C 7077
377               113503
378                 2648
379               347069
380             PC 17757
381                 2653
382    STON/O 2. 3101293
383               113789
384               349227
385         S.O.C. 14879
386              CA 2144
387                27849
388               367655
389              SC 1748
390               113760
391               350034
392              3101277
393                35273
394              PP 9549
395               350052
396               350407
397                28403
398               244278
399               240929
400    STON/O 2. 3101289
401               341826
402                 4137
403     STON/O2. 3101279
404               315096
405                28664
406               347064
407                29106
408               312992
409                 4133
410               349222
411               394140
412                19928
413               239853
414    STON/O 2. 3101269
415               343095
416                28220
417               250652
418                28228
419               345773
420               349254
421           A/5. 13032
422               315082
423               347080
424               370129
425           A/4. 34244
426                 2003
427               250655
428               364851
429    SOTON/O.Q. 392078
430               110564
431               376564
432           SC/AH 3085
433    STON/O 2. 3101274
434                13507
435               113760
436           W./C. 6608
437                29106
438                19950
439           C.A. 18723
440         F.C.C. 13529
441               345769
442               347076
443               230434
444                65306
445                33638
446               250644
447               113794
448                 2666
449               113786
450           C.A. 34651
451                65303
452               113051
453                17453
454             A/5 2817
455               349240
456                13509
457                17464
458         F.C.C. 13531
459               371060
460                19952
461               364506
462               111320
463               234360
464             A/S 2816
465   SOTON/O.Q. 3101306
466               239853
467               113792
468                36209
469                 2666
470               323592
471               315089
472           C.A. 34651
473      SC/AH Basle 541
474                 7553
475               110465
476                31027
477                 3460
478               350060
479              3101298
480              CA 2144
481               239854
482             A/5 3594
483                 4134
484                11967
485                 4133
486                19943
487                11771
488           A.5. 18509
489           C.A. 37671
490                65304
491     SOTON/OQ 3101317
492               113787
493             PC 17609
494            A/4 45380
495                 2627
496                36947
497            C.A. 6212
498               113781
499               350035
500               315086
501               364846
502               330909
503                 4135
504               110152
505             PC 17758
506                26360
507               111427
508               C 4001
509                 1601
510               382651
511     SOTON/OQ 3101316
512             PC 17473
513             PC 17603
514               349209
515                36967
516           C.A. 34260
517               371110
518               226875
519               349242
520                12749
521               349252
522                 2624
523               111361
524                 2700
525               367232
526          W./C. 14258
527             PC 17483
528              3101296
529                29104
530                26360
531                 2641
532                 2690
533                 2668
534               315084
535         F.C.C. 13529
536               113050
537             PC 17761
538               364498
539                13568
540            WE/P 5735
541               347082
542               347082
543                 2908
544             PC 17761
545                  693
546                 2908
547        SC/PARIS 2146
548               363291
549           C.A. 33112
550                17421
551               244358
552               330979
553                 2620
554               347085
555               113807
556                11755
557             PC 17757
558               110413
559               345572
560               372622
561               349251
562               218629
563      SOTON/OQ 392082
564    SOTON/O.Q. 392087
565            A/4 48871
566               349205
567               349909
568                 2686
569               350417
570          S.W./PP 752
571                11769
572             PC 17474
573                14312
574           A/4. 20589
575               358585
576               243880
577                13507
578                 2689
579    STON/O 2. 3101286
580               237789
581                17421
582                28403
583                13049
584                 3411
585               110413
586               237565
587                13567
588                14973
589           A./5. 3235
590    STON/O 2. 3101273
591                36947
592             A/5 3902
593               364848
594          SC/AH 29037
595               345773
596               248727
597                 LINE
598                 2664
599             PC 17485
600               243847
601               349214
602               113796
603               364511
604               111426
605               349910
606               349246
607               113804
608        SC/Paris 2123
609             PC 17582
610               347082
611   SOTON/O.Q. 3101305
612               367230
613               370377
614               364512
615               220845
616               347080
617            A/5. 3336
618               230136
619                31028
620                 2659
621                11753
622                 2653
623               350029
624                54636
625                36963
626               219533
627                13502
628               349224
629               334912
630                27042
631               347743
632                13214
633               112052
634               347088
635               237668
636    STON/O 2. 3101292
637           C.A. 31921
638              3101295
639               376564
640               350050
641             PC 17477
642               347088
643                 1601
644                 2666
645             PC 17572
646               349231
647                13213
648        S.O./P.P. 751
649             CA. 2314
650               349221
651               231919
652                 8475
653               330919
654               365226
655         S.O.C. 14879
656               349223
657               364849
658                29751
659                35273
660             PC 17611
661                 2623
662                 5727
663               349210
664    STON/O 2. 3101285
665         S.O.C. 14879
666               234686
667               312993
668             A/5 3536
669                19996
670                29750
671           F.C. 12750
672           C.A. 24580
673               244270
674               239856
675               349912
676               342826
677                 4138
678              CA 2144
679             PC 17755
680               330935
681             PC 17572
682                 6563
683              CA 2144
684                29750
685        SC/Paris 2123
686              3101295
687               349228
688               350036
689                24160
690                17474
691               349256
692                 1601
693                 2672
694               113800
695               248731
696               363592
697                35852
698                17421
699               348121
700             PC 17757
701             PC 17475
702                 2691
703                36864
704               350025
705               250655
706               223596
707             PC 17476
708               113781
709                 2661
710             PC 17482
711               113028
712                19996
713                 7545
714               250647
715               348124
716             PC 17757
717                34218
718                36568
719               347062
720               248727
721               350048
722                12233
723               250643
724               113806
725               315094
726                31027
727                36866
728               236853
729     STON/O2. 3101271
730                24160
731                 2699
732               239855
733                28425
734               233639
735                54636
736           W./C. 6608
737             PC 17755
738               349201
739               349218
740                16988
741                19877
742             PC 17608
743               376566
744    STON/O 2. 3101288
745            WE/P 5735
746            C.A. 2673
747               250648
748               113773
749               335097
750                29103
751               392096
752               345780
753               349204
754               220845
755               250649
756               350042
757                29108
758               363294
759               110152
760               358585
761     SOTON/O2 3101272
762                 2663
763               113760
764               347074
765                13502
766               112379
767               364850
768               371110
769                 8471
770               345781
771               350047
772          S.O./P.P. 3
773                 2674
774                29105
775               347078
776               383121
777               364516
778                36865
779                24160
780                 2687
781                17474
782               113501
783           W./C. 6607
784   SOTON/O.Q. 3101312
785               374887
786              3101265
787               382652
788            C.A. 2315
789             PC 17593
790                12460
791               239865
792             CA. 2343
793             PC 17600
794               349203
795                28213
796                17465
797               349244
798                 2685

,Ticket_A,Ticket_A4,Ticket_A5,Ticket_AQ3,Ticket_AQ4,Ticket_AS,Ticket_C,Ticket_CA,Ticket_CASOTON,Ticket_FC,...,Ticket_SOTONO2,Ticket_SOTONOQ,Ticket_SP,Ticket_STONO,Ticket_STONO2,Ticket_STONOQ,Ticket_SWPP,Ticket_WC,Ticket_WEP,Ticket_xxx
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
titanic.Parch.value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [23]:
titanic.Parch.isnull().sum()

0

In [24]:
titanic.SibSp.value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [25]:
Family = pd.DataFrame()
Family['FamilySize'] = full.Parch + full.SibSp + 1
Family['Family_Single'] = Family.FamilySize.map(lambda s: 1 if s==1 else 0)
Family['Family_Small'] = Family.FamilySize.map(lambda s: 1 if 2<=s<=4 else 0)
Family['Family_Large'] = Family.FamilySize.map(lambda s: 1 if 5<=s else 0)
Family.head()

   FamilySize  Family_Single  Family_Small  Family_Large
0           2              0             1             0
1           2              0             1             0
2           1              1             0             0
3           2              0             1             0
4           1              1             0             0

In [26]:
full_X = pd.DataFrame()
full_X = pd.concat([imputed,pclass,Family,sex,embarked,cabin],axis=1)
full_X.head()

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,FamilySize,Family_Single,Family_Small,Family_Large,Sex,...,Embarked_S,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U
0,22.0,7.2500,0,0,1,2,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
1,38.0,71.2833,1,0,0,2,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
2,26.0,7.9250,0,0,1,1,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
3,35.0,53.1000,1,0,0,2,0,1,0,1,...,1,0,0,1,0,0,0,0,0,0
4,35.0,8.0500,0,0,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [27]:
train_valid_X = full_X[:891]
train_valid_y = titanic.Survived
test_X = full_X[891:]
train_X,valid_X,train_y,valid_y = train_test_split(train_valid_X,train_valid_y,train_size = 0.7)

In [28]:
model = RandomForestClassifier()

In [29]:
model.fit(train_X,train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [30]:
print(model.score(train_X,train_y),model.score(valid_X,valid_y))

0.971107544141 0.787313432836

In [31]:

test_X.shape
test_X ['Age'] = test_X.Age.fillna(full.Age.mean())
test_X ['Fare'] = test_X.Age.fillna(full.Fare.mean())
test_X.head()

C:\Users\pc\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\pc\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,FamilySize,Family_Single,Family_Small,Family_Large,Sex,...,Embarked_S,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U
891,29.881138,29.881138,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
892,29.881138,29.881138,0,0,1,2,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
893,29.881138,29.881138,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
894,29.881138,29.881138,0,0,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
895,29.881138,29.881138,0,0,1,3,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1

In [33]:
output = model.predict(test_X).astype(int)
df_output = pd.DataFrame()
aux = pd.read_csv('test.csv')
df_output['PassengerId'] = aux['PassengerId']
df_output['Survived'] = output
df_output[['PassengerId','Survived']].to_csv('output.csv',index=False)